<div jqfy:name="$boardContainer" class="board-container">
    <div jqfy:name="$board" class="board"></div>
</div>
<script>
    var events = require('events');

    var log = require('debug')('JGF:board');
    $.extend(obj, events.EventEmitter.prototype);

    obj.setMapSize = function (size) {
        $board.width(24 * size.width);
        $board.height(27 * size.height);
    };

    obj.set3d = function (_3d) {
        log('3d', _3d);
        if (_3d) {
            $boardContainer.addClass('board3d');
        } else {
            $boardContainer.removeClass('board3d');
        }
    };

    obj.$board = $board;

</script>